.bg-banana {
  background-color: var(--color-banana);
}

.bg-pearl {
  background-color: var(--color-pearl);
}

.bg-moonstone {
  background-color: var(--color-moonstone);
}

.bg-bluebell {
  background-color: var(--color-bluebell);
}

.bg-navy {
  background-color: var(--color-navy);
}

.bg-ink {
  background-color: var(--color-ink);
}

.bg-coal {
  background-color: var(--color-coal);
}

.bg-onyx {
  background-color: var(--color-onyx);
}

.bg-raven {
  background-color: var(--color-raven);
}
