.color-banana {
  color: var(--color-banana);
}

.color-pearl {
  color: var(--color-pearl);
}

.color-moonstone {
  color: var(--color-moonstone);
}

.color-bluebell {
  color: var(--color-bluebell);
}

.color-navy {
  color: var(--color-navy);
}

.color-ink {
  color: var(--color-ink);
}

.color-coal {
  color: var(--color-coal);
}

.color-onyx {
  color: var(--color-onyx);
}

.color-raven {
  color: var(--color-raven);
}
