.button {
  border-top-left-radius: 24rem;
  border-bottom-left-radius: 24rem;
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem;
}

.buttonMin {
  border: 1px solid $color-banana;
}
